{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="jumbotron text-center p-4">
        <h2>Cloudinary Image Management Demo</h2>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top" src="https://media.sproutsocial.com/uploads/2018/04/Facebook-Cover-Photo-Size.png">
        <div class="card-body">
          <p class="card-text">Hello World</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top" src="https://media.sproutsocial.com/uploads/2018/04/Facebook-Cover-Photo-Size.png">
        <div class="card-body">
          <p class="card-text">Hello World</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img class="card-img-top" src="https://media.sproutsocial.com/uploads/2018/04/Facebook-Cover-Photo-Size.png">
        <div class="card-body">
          <p class="card-text">Hello World</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}